<!-- CONTACTO -->
<section id="contacto" class="contact-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>CONTACTO</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="contact-info"><i class="fa fa-home"></i>
                        <p>San Martín 2401 - Mayor Drummond,<br>Luján de Cuyo - Mendoza</p>
                    </div>
                    <div class="contact-info"><i class="fa fa-phone-square"></i> <a href="tel:+54 9 261 2656760" title="Click to Call">+54 9 261 2656760</a></div><br>
                    <div class="contact-info"><i class="fa fa-phone-square"></i> <a href="tel:+54 9 261 4322080" title="Click to Call">+54 9 261 4322080</a></div><br>
                    <div class="contact-info"><i class="fa fa-phone-square"></i> <a href="tel:+54 9 261 5754701" title="Click to Call">+54 9 261 5754701</a></div><br>
                    <div
                        class="contact-info"><i class="fa fa-send"></i><a href="mailto:magasdedrummond@gmail.com">magasdedrummond@gmail.com</a></div><br>
                <div
                    class="contact-info"><i class="fa fa-facebook-official"></i> <a href="https://www.facebook.com/magasdedrummond">/Magas de Drummond</a></div>
        </div>
        <div class="clearfix visible-xs visible-sm"></div>
        <div class="col-md-8">
            <div class="contact-form">
                <div id="form-messages"></div>
                <form id="contact">
                    <div class="form-group in_name"><input type="text" name="name" class="form-control" id="name" placeholder="Nombre Completo" required></div>
                    <div
                        class="form-group in_email"><input type="email" name="email" class="form-control" id="email" placeholder="Dirección de email" required></div>
            <div
                class="form-group in_email"><input type="text" name="subject" class="form-control" id="subject" placeholder="Asunto" required></div>
        <div class="form-group in_message"><textarea name="message" class="form-control" id="message" placeholder="Tu mensaje" required></textarea></div>
        <div class="actions"><input type="submit" value="Consultar disponibilidad" name="submit" id="submitButton" class="btn pull-right" title="Enviar mensaje!"></div>
        <p
            class="success">Mensaje enviado con extio!!</p>
            <p class="error">Error al enviar el mensaje</p>
            </form>
            </div>
            </div>
            </div>
            </div>
    </section>
<!-- ENDCONTACTO -->