<section id="galeria" class="works section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>GALERIA</h2>
                    </div>
                </div>
            </div>
            <!-- EXTERIOR -->
            <exterior-tag></exterior-tag>
            <!-- ENDEXTERIOR -->
            <br>
            <!-- INTERIOR -->
            <interior-tag></interior-tag>
            <!-- ENDINTERIOR -->
            
            <div class="portfolio"></div>
        </div>
    </section>