<!-- SERVICIOS -->
<section id="servicios" class="service-area section-big">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-title">
                        <h2>SERVICIOS</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="home-services">
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="fa fa-wifi"></i>
                            <h3 class="subtitle">WI-FI GRATIS</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="fa fa-users"></i>
                            <h3 class=subtitle>CAPACIDAD HASTA 5 PERSONAS</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="fa fa-cutlery"></i>
                            <h3 class="subtitle">COCINA COMPLETA</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="fa fa-car"></i>
                            <h3 class="subtitle">ESTACIONAMIENTO GRATUITO</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="icon-remera"></i>
                            <h3 class="subtitle">ROPA BLANCA</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="icon-pileta"></i>
                            <h3 class="subtitle">PILETA 24hs</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="fa fa-tree"></i>
                            <h3 class="subtitle">GRANDES ESPACIOS VERDES</h3>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="service-box"><i class="fa fa-video-camera"></i>
                            <h3 class="subtitle">VIDEOVIGILANCIA</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
<!-- ENDSERVICIOS -->